<mat-toolbar  id="main-footer">
    <mat-toolbar-row>
        <p>Reglement</p> 
    </mat-toolbar-row>
    <mat-toolbar-row>
        <p>Faq</p> 
    </mat-toolbar-row>
    <mat-toolbar-row>
        <p>contactez-nous</p> 
    </mat-toolbar-row>
    <mat-toolbar-row>
        <p>Qui nous sommes</p> 
    </mat-toolbar-row>
    <mat-toolbar-row>
        <p>Suivez-nous sur</p>
        <div *ngFor="let logo of logos">
            <a href={{logo.url}} 
                target="_blank">
                <img src={{logo.location}} alt={{logo.brand}} width="30" height="30" />
            </a>
        </div> 
    </mat-toolbar-row>
</mat-toolbar>  